/* header */
header.index nav>a{
    color: white;
    padding: 10px;
}

header.index nav form{
    display: inline;
    padding: 10px;
}

header.index nav form button{
    width: 15vh;
    font-family: serif;
    font-size: 3vh;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    cursor: pointer;
}

/* modal */
#profile label{
    inline-size: 100%;
}

.hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .icons {
    display: none;
  }
  
  .icon {
    block-size: 1em;
    display: inline-block;
    fill: var(--iconFill);
    inline-size: 1em;
    vertical-align: middle;
  }

  header.index a, .form a {
    color: var(--anchorColor);
    outline: 0;
    text-decoration: none;
  }


  /* form */

  .form input {
    background-image: none;
    border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    transition: background-color 0.3s;
  }
  
  .form input[type="submit"] {
    cursor: pointer;
    height: 6vh;
    padding: 10% 0;
  }
  
  .form {
    margin: calc(var(--formFieldMargin) * -1);
  }
  
  .form input[type="password"],
  .form input[type="text"],
  .form input[type="submit"] {
    inline-size: 100%;
  }

  .form input[type="submit"]{
    height: 100%;
  }

  .form_set{
      background-color: #545b63;
      border-radius: 10px;
      padding: 10px;
  }
  
  .form__field {
    display: flex;
    margin: var(--formFieldMargin);
  }
  
  .form__input {
    flex: 1;
  }

  .login {
    color: var(--loginColor);
    position: relative;
    top: 30px;
    right: 20%;
  }
  
  .login label,
  .login input[type="text"],
  .login input[type="password"],
  .login input[type="submit"] {
    border-radius: var(--loginBorderRadus);
    padding: 1rem;
  }
  
  .login label {
    background-color: var(--loginLabelBackgroundColor);
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding-inline: 1.25rem;
  }
  
  .login input[type="password"],
  .login input[type="text"] {
    background-color: var(--loginInputBackgroundColor);
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
  
  .login input[type="password"]:focus,
  .login input[type="password"]:hover,
  .login input[type="text"]:focus,
  .login input[type="text"]:hover {
    background-color: var(--loginInputHoverBackgroundColor);
  }
  
  .login input[type="submit"] {
    background-color: var(--loginSubmitBackgroundColor);
    color: var(--loginSubmitColor);
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .login input[type="submit"]:focus,
  .login input[type="submit"]:hover {
    background-color: var(--loginSubmitHoverBackgroundColor);
  }
  
  .form p {
    margin-block: .5rem;
  }
  
  .text--center {
    text-align: center;
  }