<!DOCTYPE html>
<html lang="en">

<%- include('../layout/head') %>

    <body class="about">
        <div id="header">
            <%- include('../layout/header') %>
        </div>
        <main class="about">
            <h1>Our Team</h1>
            <div class="cards">
                <div class="card">
                    <div class="our-team">
                        <div class="picture">
                            <img class="img-fluid" src="/img/yazan.jpg">
                        </div>
                        <div class="team-content">
                            <h3 class="name">Yazan Eyad</h3>
                            <h4 class="title">Web Developer</h4>
                        </div>
                        <ul class="social">
                            <li><a href="https://www.facebook.com/yazan.eyad.9" class="fa fa-facebook"
                                    aria-hidden="true"></a></li>
                            <li><a href="https://www.instagram.com/yazan_e_93/" class="fa fa-instagram"
                                    aria-hidden="true"></a></li>
                            <li><a href="https://github.com/yazaneyad193" class="fa fa-github" aria-hidden="true"></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/yazan-eyad-387b08109/" class="fa fa-linkedin"
                                    aria-hidden="true"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="our-team">
                        <div class="picture">
                            <img class="img-fluid" src="/img/hamza.jpg">
                        </div>
                        <div class=" team-content">
                            <h3 class="name">Hamza Shamoun</h3>
                            <h4 class="title">Web Developer</h4>
                        </div>
                        <ul class="social">
                            <li><a href="https://web.facebook.com/people/Hamza-Mohammad/100009136612639"
                                    class="fa fa-facebook" aria-hidden="true"></a></li>
                            <li><a href="https://www.instagram.com/hamzamohammad96/" class="fa fa-instagram"
                                    aria-hidden="true"></a></li>
                            <li><a href="https://github.com/hamzashamoun96" class="fa fa-github" aria-hidden="true"></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/hamzamohammad-shamoun/" class="fa fa-linkedin"
                                    aria-hidden="true"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="our-team">
                        <div class="picture">
                            <img class="img-fluid" src="/img/ayouba.jpg">
                        </div>
                        <div class="team-content">
                            <h3 class="name">Ayoub Kandah</h3>
                            <h4 class="title">Web Developer</h4>
                        </div>
                        <ul class="social">
                            <li><a href="https://www.facebook.com/profile.php?id=1118869692" class="fa fa-facebook"
                                    aria-hidden="true"></a></li>
                            <li><a href="https://www.instagram.com/ayoup_k94/" class="fa fa-instagram"
                                    aria-hidden="true"></a></li>
                            <li><a href="https://github.com/ayoubkandah" class="fa fa-github" aria-hidden="true"></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/ayoub-kandah/" class="fa fa-linkedin"
                                    aria-hidden="true"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="our-team">
                        <div class="picture">
                            <img class="img-fluid" src="/img/afnan.png">
                        </div>
                        <div class="team-content">
                            <h3 class="name">Afnan Damra</h3>
                            <h4 class="title">Web Developer</h4>
                        </div>
                        <ul class="social">
                            <li><a href="https://web.facebook.com/afnan.damra.56/" class="fa fa-facebook"
                                    aria-hidden="true"></a></li>
                            <li><a href="https://www.instagram.com/afnandamra/" class="fa fa-instagram"
                                    aria-hidden="true"></a></li>
                            <li><a href="https://github.com/afnandamra" class="fa fa-github" aria-hidden="true"></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/afnandamra/" class="fa fa-linkedin"
                                    aria-hidden="true"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>
        <div id="sidebar">
            <%- include('../layout/sidebar') %>
        </div>
        <%- include('../layout/footer') %>
    </body>

</html>