<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AboutUs</title>
    <!-- <link rel="stylesheet" href="/styles/AboutUs.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/Aboutus.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="our-team">
                    <div class="picture">
                        <img class="img-fluid" src="/img/yazan.jpg">
                    </div>
                    <div class="team-content">
                        <h3 class="name">Yazan Eyad</h3>
                        <h4 class="title">Web Developer</h4>
                    </div>
                    <ul class="social">
                        <li><a href="https://www.facebook.com/yazan.eyad.9" class="fa fa-facebook"
                                aria-hidden="true"></a></li>
                        <li><a href="https://www.instagram.com/yazan_e_93/" class="fa fa-instagram"
                                aria-hidden="true"></a></li>
                        <li><a href="https://github.com/yazaneyad193" class="fa fa-github" aria-hidden="true"></a>
                        </li>
                        <li><a href="https://www.linkedin.com/in/yazan-eyad-387b08109/" class="fa fa-linkedin"
                                aria-hidden="true"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="our-team">
                    <div class="picture">
                        <img class="img-fluid" src="/img/hamza.jpg">
                    </div>
                    <div class=" team-content">
                        <h3 class="name">Hamza Shamoun</h3>
                        <h4 class="title">Web Developer</h4>
                    </div>
                    <ul class="social">
                        <li><a href="https://web.facebook.com/people/Hamza-Mohammad/100009136612639"
                                class="fa fa-facebook" aria-hidden="true"></a></li>
                        <li><a href="https://www.instagram.com/hamzamohammad96/" class="fa fa-instagram"
                                aria-hidden="true"></a></li>
                        <li><a href="https://github.com/hamzashamoun96" class="fa fa-github" aria-hidden="true"></a>
                        </li>
                        <li><a href="https://www.linkedin.com/in/hamzamohammad-shamoun/" class="fa fa-linkedin"
                                aria-hidden="true"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="our-team">
                    <div class="picture">
                        <img class="img-fluid" src="/img/ayouba.jpg">
                    </div>
                    <div class="team-content">
                        <h3 class="name">Ayoub Kandah</h3>
                        <h4 class="title">Web Developer</h4>
                    </div>
                    <ul class="social">
                        <li><a href="https://www.facebook.com/profile.php?id=1118869692" class="fa fa-facebook"
                                aria-hidden="true"></a></li>
                        <li><a href="https://www.instagram.com/ayoup_k94/" class="fa fa-instagram"
                                aria-hidden="true"></a></li>
                        <li><a href="https://github.com/ayoubkandah" class="fa fa-github" aria-hidden="true"></a>
                        </li>
                        <li><a href="https://www.linkedin.com/in/ayoub-kandah/" class="fa fa-linkedin"
                                aria-hidden="true"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="our-team">
                    <div class="picture">
                        <img class="img-fluid" src="/img/afnan.png">
                    </div>
                    <div class="team-content">
                        <h3 class="name">Afnan Damra</h3>
                        <h4 class="title">Web Developer</h4>
                    </div>
                    <ul class="social">
                        <li><a href="https://web.facebook.com/afnan.damra.56/" class="fa fa-facebook"
                                aria-hidden="true"></a></li>
                        <li><a href="https://www.instagram.com/afnandamra/" class="fa fa-instagram"
                                aria-hidden="true"></a></li>
                        <li><a href="https://github.com/afnandamra" class="fa fa-github" aria-hidden="true"></a>
                        </li>
                        <li><a href="https://www.linkedin.com/in/afnandamra/" class="fa fa-linkedin"
                                aria-hidden="true"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

</html>