<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            background-color: gainsboro;
        }

        p {
            color: rgb(16, 0, 236);
            text-align: center;
            padding: 20%;
            font-size: larger;

        }
    </style>
</head>

<body>
    <p>
        The Result is : <%=amount %>
            <%=toVal%>
    </p>
</body>

</html>