<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/form.css">
    <title>Document</title>
</head>
<body>

    <main>
        <aside>
            <img src="" alt="">
            <h3></h3>
            <h4></h4>
        </aside>
        <section>
             <div id="canvas"><!-- replace it with the canvas div--></div>
             <div id="content"></div>
        </section>
    </main>
   
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/4.1.0/mustache.js"
        integrity="sha512-SDpqS2G7Z70bGQSl26nhAdQj9YJoQqMOJVBVqE1EyEaAAzdvLFNZ0R06FzBu+E8xTcmbd2dBhvBJuJrbEUiKqA=="
        crossorigin="anonymous"></script> -->
    <script type="module" src="app1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</body>
</html>