<!DOCTYPE html>
<html lang="en">

<%- include('../layout/head') %>
    <style>
        html {
            overflow: hidden;
            background-color: black;
            background: url(/img/background.gif) no-repeat bottom left fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>

    <body>
        <header>
            <picture id="logo">
                <source media="(min-width:480px)" srcset="./img/logo/logo-dark.png">
                <img src="./img/logo/logo-small.png" alt="logo" style="width:auto;">
            </picture>
            <nav>
                <a href="/">Home</a>
                <a href="/contact">Contact</a>
                <a href="/about">About Us</a>
                <form>
                    <button type='button' id="login">Login</button>
                </form>
            </nav>
        </header>
        <div id='loginform' class="modal">
            <%- include('../layout/form')-%>
        </div>

        <main id="index">
            <p id="slogan">Build your net worth.</p>
            <form action="/trade" id="mainButton">
                <button id="start">Start</button>
            </form>
        </main>

        <%- include('../layout/footer') %>
    </body>

</html>