<!DOCTYPE html>
<html lang="en">

<%- include('../layout/head') %>

    <body>
        <%- include('../layout/header') %>
            <main>
                <form action="/trade" id="mainButton">
                    <button id="start">Start</button>
                </form>
            </main>


            <%- include('../layout/footer') %>
    </body>

</html>