<!DOCTYPE html>
<html lang="en">
<%- include('../layout/head') %>

    <body class="signup">
        <main class="signup">
            <div id="bcg"></div>
            <form name="frmInfo" action="/signup" method="POST">
                <fieldset id="signup">
                    <a href="/">
                        <picture id="logo">
                            <source media="(min-width:480px)" srcset="./img/logo/logo-light.png">
                            <img src="./img/logo/logo-small.png" alt="logo" style="width:auto;">
                        </picture>
                    </a>
                    <input type="text" name="firstname" placeholder="First Name" required>
                    <input type="text" name="lastname" placeholder="Last Name" required><br>
                    <input type="text" id="username" name="username" placeholder="Username" required><br>
                    <input type="email" id="email" name="email" placeholder="example@example.com" required><br>
                    <input type="password" id="password" name="password" placeholder="Password" minlength="6"
                        maxlength="15" required><br>
                    <input type="submit" id="btn_submit" value="Sign Up">
                    <p class="text--center">Already a member? <a href="/">Login</a></p>
                </fieldset>
            </form>

        </main>

        <%- include('../layout/footer') %>
    </body>

</html>