<form action="auth" method="POST">
    <fieldset>
        <br>
        <input type="text" name="username" placeholder="Username" required><br><br>
        <input type="password" name="password" placeholder="Password" required><br><br><br><br>
        <input type="submit" value="Login" id="sub"><br><br>
        <a href="/signup" style="float: right;">Sign Up</a>
    </fieldset>
</form>